# DIABOLO

In [218]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
#from  pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)

import pandas as pd
import numpy as np

#vous pouvez modifier cette option à votre guise
pd.options.display.max_rows = 10

                   
Location_csv = 'd:\diabolo.csv'
xnames=['ALLURE','DATE_COURSE','CO_DISTANCE','CO_NB','CO_PRIX','HIPPO','IDCOURSE','IDPARTCIPANT','PAR_age','PAR_ARRIVE',
'PAR_CARRIERE','PAR_CARRIERE_Q','PAR_CLASSE_AGE','PAR_CORDE','PAR_COTEDER','PAR_ENT_ECART_GAGNANT','PAR_ENT_RAPPORT_GAGNANT_M',
'PAR_ENT_RAPPORT_GANGANT','PAR_ENT_REU_PLACE','PAR_ENT_REUSSITE_GAGNE','PAR_ENT_VICTOIRE','PAR_GAIN','pAR_JOC_ECART_GAGNANT',
'PAR_JOC_ECART_PLACE','PAR_JOC_NB_COURSE','PAR_JOC_PLACE_3P','pAR_JOC_RAPPORT_GAGNANT_M','PAR_JOC_REU_PLACE','pAR_JOC_REUSSITE_GAGNE',
'pAR_JOC_VICTOIRE','PAR_NP','PAR_NUM','PAR_PLACE','PAR_PLACE_Q','PAR_REUSSITE_3P','PAR_REUSSITE_GAGNE','PAR_REUSSITE_QUINTE','PAR_RUESSITE_PLACE','autostart','cendre','grande_piste','sable_fibre','dirt','FIN_ligne']
    
df=pd.read_csv (Location_csv, sep=';',names=xnames,nrows=10000,skipinitialspace=True,encoding='Latin-1')

df=df.groupby('ALLURE')     
df=df.get_group(1) 

#Suppression de la collone TROT
df.drop(["ALLURE"], axis=1, inplace=True)

#Suppression de la collone TROT
df.drop(["FIN_ligne"], axis=1, inplace=True)

#Suppression de la collone TROT
df.drop(["DATE_COURSE"], axis=1, inplace=True)

#Suppression de la collone TROT
df.drop(["IDPARTCIPANT"], axis=1, inplace=True)

#Suppression de la collone TROT
df.drop(["HIPPO"], axis=1, inplace=True)

#Suppression de la collone TROT
df.drop(["IDCOURSE"], axis=1, inplace=True)

#xnames=['CO_DISTANCE','CO_NB','CO_PRIX','HIPPO','IDCOURSE','PAR_age','PAR_ARRIVE',
#'PAR_CARRIERE','PAR_CARRIERE_Q','PAR_CLASSE_AGE','PAR_CORDE','PAR_COTEDER','PAR_ENT_ECART_GAGNANT','PAR_ENT_RAPPORT_GAGNANT_M',
#'PAR_ENT_RAPPORT_GANGANT','PAR_ENT_REU_PLACE','PAR_ENT_REUSSITE_GAGNE','PAR_ENT_VICTOIRE','PAR_GAIN','pAR_JOC_ECART_GAGNANT',
#'PAR_JOC_ECART_PLACE','PAR_JOC_NB_COURSE','PAR_JOC_PLACE_3P','pAR_JOC_RAPPORT_GAGNANT_M','PAR_JOC_REU_PLACE','pAR_JOC_REUSSITE_GAGNE',
#'pAR_JOC_VICTOIRE','PAR_NP','PAR_PLACE','PAR_PLACE_Q','PAR_REUSSITE_3P','PAR_REUSSITE_GAGNE','PAR_REUSSITE_QUINTE','PAR_RUESSITE_PLACE','autostart','cendre','grande_piste','sable_fibre','dirt']
   
#Transformer une colonne en un index dans un dataframe
#df = df.set_index('IDPARTCIPANT')

#affichage des premiere lignes du jeu de données
df.head()

,CO_DISTANCE,CO_NB,CO_PRIX,PAR_age,PAR_ARRIVE,PAR_CARRIERE,PAR_CARRIERE_Q,PAR_CLASSE_AGE,PAR_CORDE,PAR_COTEDER,...,PAR_PLACE_Q,PAR_REUSSITE_3P,PAR_REUSSITE_GAGNE,PAR_REUSSITE_QUINTE,PAR_RUESSITE_PLACE,autostart,cendre,grande_piste,sable_fibre,dirt
9,0,17,90000,5,99,41,5,44456,0,32,...,0,0.292683,0.121951,0.00000,0.170732,1,1,1,0,0
10,0,17,90000,6,4,58,3,34229,0,8,...,2,0.396552,0.155172,0.00000,0.241379,1,1,1,0,0
11,0,17,90000,6,2,41,9,40630,0,36,...,4,0.585366,0.317073,0.04878,0.268293,1,1,1,0,0
12,0,17,90000,6,1,64,2,39671,0,6,...,0,0.500000,0.218750,0.03125,0.281250,1,1,1,0,0
13,0,17,90000,5,99,10,1,48270,0,10,...,0,0.800000,0.600000,0.00000,0.200000,1,1,1,0,0

In [219]:
# trvail sur les courses de trot (allure=1)
print(df.shape)

(5473, 38)

In [220]:
#enumeration des colonnes
df.columns

Index(['CO_DISTANCE', 'CO_NB', 'CO_PRIX', 'PAR_age', 'PAR_ARRIVE',
       'PAR_CARRIERE', 'PAR_CARRIERE_Q', 'PAR_CLASSE_AGE', 'PAR_CORDE',
       'PAR_COTEDER', 'PAR_ENT_ECART_GAGNANT', 'PAR_ENT_RAPPORT_GAGNANT_M',
       'PAR_ENT_RAPPORT_GANGANT', 'PAR_ENT_REU_PLACE',
       'PAR_ENT_REUSSITE_GAGNE', 'PAR_ENT_VICTOIRE', 'PAR_GAIN',
       'pAR_JOC_ECART_GAGNANT', 'PAR_JOC_ECART_PLACE', 'PAR_JOC_NB_COURSE',
       'PAR_JOC_PLACE_3P', 'pAR_JOC_RAPPORT_GAGNANT_M', 'PAR_JOC_REU_PLACE',
       'pAR_JOC_REUSSITE_GAGNE', 'pAR_JOC_VICTOIRE', 'PAR_NP', 'PAR_NUM',
       'PAR_PLACE', 'PAR_PLACE_Q', 'PAR_REUSSITE_3P', 'PAR_REUSSITE_GAGNE',
       'PAR_REUSSITE_QUINTE', 'PAR_RUESSITE_PLACE', 'autostart', 'cendre',
       'grande_piste', 'sable_fibre', 'dirt'],
      dtype='object')

In [221]:
#appel de la fonction sur l'ensemble des colonnes du DataFrame
#axis = 0 ==> chaque colonne sera transmise à la fonction operation()
#la selection select_dtypes() permet d'exclure les variables non numériques

resultat = df.select_dtypes(exclude=['object']).apply(operation,axis=0)
resultat

NameError: name 'operation' is not defined

In [222]:
# restriction de l'ensemble de données
# selection des lignes avec des arrivées 1-5
colonnes = ['PAR_ARRIVE']
df.loc[df['PAR_ARRIVE']<=5,colonnes]

      PAR_ARRIVE
10             4
11             2
12             1
15             3
16             5
...          ...
9987           2
9992           5
9993           3
9997           4
9999           5

[1987 rows x 1 columns]

In [223]:
#gagnant
#sélection des gagnants


df_gagnant = df.loc[df['PAR_ARRIVE']==1] 
df_gagnant

,CO_DISTANCE,CO_NB,CO_PRIX,PAR_age,PAR_ARRIVE,PAR_CARRIERE,PAR_CARRIERE_Q,PAR_CLASSE_AGE,PAR_CORDE,PAR_COTEDER,...,PAR_PLACE_Q,PAR_REUSSITE_3P,PAR_REUSSITE_GAGNE,PAR_REUSSITE_QUINTE,PAR_RUESSITE_PLACE,autostart,cendre,grande_piste,sable_fibre,dirt
12,0,17,90000,6,1,64,2,39671,0,6,...,0,0.500000,0.218750,0.03125,0.281250,1,1,1,0,0
40,0,18,70000,8,1,80,18,27238,0,28,...,4,0.300000,0.162500,0.00000,0.137500,0,1,1,0,0
44,0,12,44000,4,1,26,1,8175,0,5,...,1,0.500000,0.269231,0.00000,0.230769,0,1,1,0,0
57,0,11,40000,6,1,53,2,9620,0,9,...,1,0.245283,0.132076,0.00000,0.113208,0,1,1,0,0
72,0,16,40000,5,1,36,1,9354,0,9,...,1,0.500000,0.250000,0.00000,0.250000,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9807,0,13,5000,5,1,71,0,3190,0,3,...,0,0.338028,0.112676,0.00000,0.225352,1,0,0,0,0
9817,0,16,5000,4,1,34,0,1676,0,8,...,0,0.411765,0.147059,0.00000,0.264706,1,0,0,0,0
9835,0,16,5000,4,1,35,0,536,0,12,...,0,0.314286,0.114286,0.00000,0.200000,1,0,0,0,0
9980,0,15,21000,3,1,26,0,2060,0,31,...,0,0.230769,0.115385,0.00000,0.115385,1,0,0,0,0
9986,0,14,17000,4,1,30,0,2907,0,10,...,0,0.166667,0.066667,0.00000,0.100000,1,0,0,0,0

In [224]:
#gagnant
#sélection des chevaux dans les 5 premiers


df_gagnant = df.loc[df['PAR_ARRIVE']<=5] 
df_gagnant

,CO_DISTANCE,CO_NB,CO_PRIX,PAR_age,PAR_ARRIVE,PAR_CARRIERE,PAR_CARRIERE_Q,PAR_CLASSE_AGE,PAR_CORDE,PAR_COTEDER,...,PAR_PLACE_Q,PAR_REUSSITE_3P,PAR_REUSSITE_GAGNE,PAR_REUSSITE_QUINTE,PAR_RUESSITE_PLACE,autostart,cendre,grande_piste,sable_fibre,dirt
10,0,17,90000,6,4,58,3,34229,0,8,...,2,0.396552,0.155172,0.00000,0.241379,1,1,1,0,0
11,0,17,90000,6,2,41,9,40630,0,36,...,4,0.585366,0.317073,0.04878,0.268293,1,1,1,0,0
12,0,17,90000,6,1,64,2,39671,0,6,...,0,0.500000,0.218750,0.03125,0.281250,1,1,1,0,0
15,0,17,90000,6,3,36,8,40470,0,2,...,4,0.500000,0.166667,0.00000,0.333333,1,1,1,0,0
16,0,17,90000,6,5,56,12,36820,0,27,...,8,0.517857,0.107143,0.00000,0.410714,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987,0,14,17000,4,2,33,0,2590,0,6,...,0,0.333333,0.121212,0.00000,0.212121,1,0,0,0,0
9992,0,14,17000,4,5,11,0,2525,0,11,...,0,0.181818,0.181818,0.00000,0.000000,1,0,0,0,0
9993,0,14,17000,4,3,49,0,2410,0,20,...,0,0.204082,0.040816,0.00000,0.163265,1,0,0,0,0
9997,0,14,17000,4,4,33,0,1915,0,173,...,0,0.151515,0.030303,0.00000,0.121212,1,0,0,0,0
9999,0,16,21000,8,5,90,1,12887,0,8,...,0,0.277778,0.122222,0.00000,0.155556,1,0,0,0,0

In [225]:
df_gagnant=df_gagnant[df_gagnant.PAR_GAIN >0]
df_gagnant

,CO_DISTANCE,CO_NB,CO_PRIX,PAR_age,PAR_ARRIVE,PAR_CARRIERE,PAR_CARRIERE_Q,PAR_CLASSE_AGE,PAR_CORDE,PAR_COTEDER,...,PAR_PLACE_Q,PAR_REUSSITE_3P,PAR_REUSSITE_GAGNE,PAR_REUSSITE_QUINTE,PAR_RUESSITE_PLACE,autostart,cendre,grande_piste,sable_fibre,dirt
10,0,17,90000,6,4,58,3,34229,0,8,...,2,0.396552,0.155172,0.00000,0.241379,1,1,1,0,0
11,0,17,90000,6,2,41,9,40630,0,36,...,4,0.585366,0.317073,0.04878,0.268293,1,1,1,0,0
12,0,17,90000,6,1,64,2,39671,0,6,...,0,0.500000,0.218750,0.03125,0.281250,1,1,1,0,0
15,0,17,90000,6,3,36,8,40470,0,2,...,4,0.500000,0.166667,0.00000,0.333333,1,1,1,0,0
16,0,17,90000,6,5,56,12,36820,0,27,...,8,0.517857,0.107143,0.00000,0.410714,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987,0,14,17000,4,2,33,0,2590,0,6,...,0,0.333333,0.121212,0.00000,0.212121,1,0,0,0,0
9992,0,14,17000,4,5,11,0,2525,0,11,...,0,0.181818,0.181818,0.00000,0.000000,1,0,0,0,0
9993,0,14,17000,4,3,49,0,2410,0,20,...,0,0.204082,0.040816,0.00000,0.163265,1,0,0,0,0
9997,0,14,17000,4,4,33,0,1915,0,173,...,0,0.151515,0.030303,0.00000,0.121212,1,0,0,0,0
9999,0,16,21000,8,5,90,1,12887,0,8,...,0,0.277778,0.122222,0.00000,0.155556,1,0,0,0,0

In [226]:
#MESURES d'association entre variables quantitatives : coefficient de corrélation
import numpy as np

len(df_gagnant)

UneSerie = pd.Series(df_gagnant['PAR_ARRIVE'])                       # Une DATAFRAME est composée de serie

#Suppression de la collone TROT
df_gagnant.drop(["PAR_ARRIVE"], axis=1, inplace=True)

In [245]:
#df_gagnant = df_gagnant.frame(df_gagnant,UneSerie)
df_gagnant['PAR_ARRIVE'] = UneSerie
#print(df_gagnant)

In [246]:
###########################################################################################################
#Modèles de régressions linéaires multiples                                                               #
# mesurer l 'influence de plusieurs variables sur le fait qu 'un participant soit parmi les 5 premiers    #
###########################################################################################################

# Variables possible

# Utilisation du module statsmodels
# xnames=['DATE_COURSE','CO_DISTANCE','CO_NB','CO_PRIX','HIPPO','IDCOURSE','IDPARTCIPANT','PAR_age','PAR_ARRIVE',
# 'PAR_CARRIERE','PAR_CARRIERE_Q','PAR_CLASSE_AGE','PAR_CORDE','PAR_COTEDER','PAR_ENT_ECART_GAGNANT','PAR_ENT_RAPPORT_GAGNANT_M',
# 'PAR_ENT_RAPPORT_GANGANT','PAR_ENT_REU_PLACE','PAR_ENT_REUSSITE_GAGNE','PAR_ENT_VICTOIRE','PAR_GAIN','pAR_JOC_ECART_GAGNANT',
# 'PAR_JOC_ECART_PLACE','PAR_JOC_NB_COURSE','PAR_JOC_PLACE_3P','pAR_JOC_RAPPORT_GAGNANT_M','PAR_JOC_REU_PLACE','pAR_JOC_REUSSITE_GAGNE',
# 'pAR_JOC_VICTOIRE','PAR_NP','PAR_NUM','PAR_PLACE','PAR_PLACE_Q','PAR_REUSSITE_3P','PAR_REUSSITE_GAGNE','PAR_REUSSITE_QUINTE','PAR_RUESSITE_PLACE','autostart','cendre','grande_piste','sable_fibre','dirt','FIN_ligne']
   
# Préparation de la table de donées pour la régression :
##serie_de1 = pd.Series(1, index = range(len(df_gagnant))) 
##df_1 = pd.DataFrame(serie_de1,columns=['const'])
##df_1

##df_gagnant = df_gagnant.frame(df_gagnant,serie_de1)

pd.options.mode.chained_assignment = None

#df_gagnant['Const'] = pd.Series(1,index=df_gagnant.index)

#x = df.drop(['PAR_ARRIVE'], axis=1) # Construction des variables explicatives en supprimant la colonne MEDV
#print(x)

In [250]:
#Utilisation du module sklearn

data = np.matrix(df_gagnant)
data

matrix([[  0.00000000e+00,   1.70000000e+01,   9.00000000e+04, ...,
           0.00000000e+00,   0.00000000e+00,   4.00000000e+00],
        [  0.00000000e+00,   1.70000000e+01,   9.00000000e+04, ...,
           0.00000000e+00,   0.00000000e+00,   2.00000000e+00],
        [  0.00000000e+00,   1.70000000e+01,   9.00000000e+04, ...,
           0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
        ...,
        [  0.00000000e+00,   1.40000000e+01,   1.70000000e+04, ...,
           0.00000000e+00,   0.00000000e+00,   3.00000000e+00],
        [  0.00000000e+00,   1.40000000e+01,   1.70000000e+04, ...,
           0.00000000e+00,   0.00000000e+00,   4.00000000e+00],
        [  0.00000000e+00,   1.60000000e+01,   2.10000000e+04, ...,
           0.00000000e+00,   0.00000000e+00,   5.00000000e+00]])

In [251]:
X= data[:,0:36] # # Sélectionner toutes les variable sauf la dernière colonne
X # X matrice des varibale explicatives

matrix([[  0.00000000e+00,   1.70000000e+01,   9.00000000e+04, ...,
           1.00000000e+00,   1.00000000e+00,   0.00000000e+00],
        [  0.00000000e+00,   1.70000000e+01,   9.00000000e+04, ...,
           1.00000000e+00,   1.00000000e+00,   0.00000000e+00],
        [  0.00000000e+00,   1.70000000e+01,   9.00000000e+04, ...,
           1.00000000e+00,   1.00000000e+00,   0.00000000e+00],
        ...,
        [  0.00000000e+00,   1.40000000e+01,   1.70000000e+04, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        [  0.00000000e+00,   1.40000000e+01,   1.70000000e+04, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        [  0.00000000e+00,   1.60000000e+01,   2.10000000e+04, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00]])

In [252]:
y=data[:,37]  # Y vecteur de la variable a prédire
y

matrix([[ 4.],
        [ 2.],
        [ 1.],
        ...,
        [ 3.],
        [ 4.],
        [ 5.]])

In [253]:
# Utilisation du module cross_validation de scikit-learn (sklearn) pour
# subdiviser l'échantillon en un échantillon d'apprentissage et de
# validation


from sklearn import cross_validation
#subdivision des données – éch.test = 300 ; éch.app = 768 – éch.test = 468

X_app,X_test,y_app,y_test = cross_validation.train_test_split(X,y,test_size = 1000,random_state=0)
print(X_app.shape,X_test.shape,y_app.shape,y_test.shape)

(588, 36) (1000, 36) (588, 1) (1000, 1)

In [254]:
#importer la classe LogisticRegression
from sklearn.linear_model import LogisticRegression

#création d'une instance de la classe
lr = LogisticRegression()

#algorithme de sélection de var.
from sklearn.feature_selection import RFE
selecteur = RFE(estimator=lr)

In [255]:
#lancer la recherche
sol = selecteur.fit(X_app,y_app)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [256]:
#nombre de var. sélectionnées
print(sol.n_features_) # 4 4 = 8 / 2 variables sélectionnées

18

In [257]:
#liste des variables sélectionnées
print(sol.support_) # [True False False True True False True False ]

[False  True False  True False  True False False False False  True False
  True  True False False False False False False False  True  True False
 False  True  True  True  True  True  True  True  True  True  True False]

In [238]:
#ordre de suppression
print(sol.ranking_) # [1 2 4 1 1 3 1 5]

[19  1 14  1  8  1 12 15  2  5  1 16  1  1  7 13  6  3 11 10  4  1  1  9 17
  1  1  1  1  1  1  1  1  1  1 18]

In [239]:
#réduction de la base d'app. aux var. sélectionnées
#en utilisant le filtre booléen sol.support_

In [240]:
X_new_app = X_app[:,sol.support_]
print(X_new_app.shape) # (468, 4) 18 variables restantes

(588, 18)

In [241]:
#construction du modèle sur les explicatives sélectionnées
modele_sel = lr.fit(X_new_app,y_app)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [242]:
#réduction de la base test aux mêmes variables
X_new_test = X_test[:,sol.support_]
print(X_new_test.shape) # (300, 4)

(1000, 18)

In [243]:
#prédiction du modèle réduit sur l’éch. test
y_pred_sel = modele_sel.predict(X_new_test)

In [244]:
#évaluation
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred_sel)) # 0.787 # Aussi bien
#(presque, 0.793) que le modèle initial, mais avec moitié moins de
#variables.

0.251

In [259]:
#Analyse prédictive à partir du modèle logistique binaire avec
#le module sklearn

array([[  0.00000000e+00,   1.70000000e+01,   9.00000000e+04, ...,
          0.00000000e+00,   0.00000000e+00,   4.00000000e+00],
       [  0.00000000e+00,   1.70000000e+01,   9.00000000e+04, ...,
          0.00000000e+00,   0.00000000e+00,   2.00000000e+00],
       [  0.00000000e+00,   1.70000000e+01,   9.00000000e+04, ...,
          0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       ...,
       [  0.00000000e+00,   1.40000000e+01,   1.70000000e+04, ...,
          0.00000000e+00,   0.00000000e+00,   3.00000000e+00],
       [  0.00000000e+00,   1.40000000e+01,   1.70000000e+04, ...,
          0.00000000e+00,   0.00000000e+00,   4.00000000e+00],
       [  0.00000000e+00,   1.60000000e+01,   2.10000000e+04, ...,
          0.00000000e+00,   0.00000000e+00,   5.00000000e+00]])